mat-toolbar {
    background-color: #f8f8ff;
    border-bottom: 1px #d4d4d4 solid;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    position: fixed;
    z-index: 1000;
}

mat-toolbar span {
    flex: 1 1 auto;
}

.home-page {
    color: rgb(41, 41, 41);
    cursor: pointer;
}

.nav-route {
    color: rgb(41, 41, 41);
    display: inline-block;
}

.nav-route::after {
    content: '';
    display: block;
    border-bottom: 2px solid darkgray;
    width: 0;
    transition: width .2s ease;
}

.nav-route:hover::after {
    color: black;
    border-bottom: 2px solid darkgray;
    width: 100%;
}

.nav-route:focus {
    color: black;
    border-bottom: 2px solid #054b93;
}

.router-link-active {
    color: black;
    border-bottom: 2px solid #054b93;
}


#routes {
    display: flex;
    justify-content: space-evenly;
}