* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-header {
    text-align: center;
    padding-top: 85px;
}

.no-tickets-message {
    padding: 10px;
    text-align: center;
}

table {
    z-index: 0;
    height: auto;
    border-collapse: collapse;
}

.grow-route {
    transition: all .1s ease-in-out;
}

.grow-route:hover {
    transform: scale(1.1);
}

.center-page {
    display: flex;
    justify-content: center;
}