* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-header {
    padding-top: 70px;
}

.grow-route {
    transition: all .1s ease-in-out;
}

.grow-route:hover {
    transform: scale(1.1);
}