#my-tickets {
    overflow-x: hidden;
    display: table;
    align-items: center;
    width: 90%;
}

.mat-row .mat-cell {
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    background-color: #f8f8ff;
}
